.page {
    padding: 0 1rem;
    /* text-align: center; */
    margin-top: 2rem;
}
.page img {
    width: 100%;
    margin-top: 2rem;
    border-radius: 10px;
}

.page h2 {
    margin: 0;
    font-size: 23px;
    font-family: 'quicksand-bold';
    font-weight: bold;
}